<%= link_to root_path do %>
  <div class="btn btn-success btn-sm"> Home <i class="fas fa-home"></i>
  </div>
<% end %>

<%= link_to new_bank_path do %>
  <div class="btn btn-success btn-sm">Cadastrar Conta
  </div>
<% end %>


<% @responses.each do |response| %>
        <li class="list-group-item">
          <%= response.body %>
        </li>
      <% end %>
