
<div class="row justify-content-center">
  <div class="col-md-6">
    <h1>Todas as contas</h1>
    <ul class="list-group">
      <% @banks.each do |bank| %>
        <li class="list-group-item">
          <%= link_to bank.banco, bank_path(bank) %>
        </li>
      <% end %>
    </ul>
    <%= link_to "Cadastrar Conta", new_bank_path, class: 'btn btn-primary' %>
  </div>
</div>
