<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>All banks</h1>
      <ul class="list-group">
        <% @banks.each do |bank| %>
          <li class="list-group-item">
            <%= link_to bank.name, bank_path(bank) %>
          </li>
        <% end %>
      </ul>
      <%= link_to "Add a new Bank", new_bank_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
