<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1>Cadastrar Conta</h1>
        <%= render 'form', bank: @bank %>
        <%= link_to banks_path(@bank, ) do %>
      <p> </p>
          <div class="btn btn-warning btn-sm"> Todas as Contas <i class="fas fa-edit"></i>
          </div>
        <% end %>
    </div>
  </div>
</div>
