<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @bank.name %></h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Address</th>
            <td><%= @bank.address %></td>
          </tr>
          <tr>
            <th scope="row">Coder</th>
            <td><%= @bank.code %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
